# Puerto del servidor
PORT=3000

# VAPID Keys (generadas automáticamente si no se especifican)
# Obtén estas keys de los logs la primera vez que ejecutes el servidor
# y después configúralas aquí para mantenerlas persistentes
PUBLIC_VAPID_KEY=
PRIVATE_VAPID_KEY=

# Ambiente
NODE_ENV=production
